* {
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

html {
  min-width: 400px;
  min-height: 400px;
}

#control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: silver;
}

#control p {
  font-size: 110%;
}

#control select {
  margin: 30px;
}

#settingsDiv{
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

#settingsDiv .axisDiv{
  flex-wrap: wrap;
  border: 2px dashed black;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
}

#settingsDiv .axisDiv label{
  width: 26px;
  margin: 10px;
  padding: 0;
}

#settingsDiv .buttonRefreshDots {
  width: 140px;
}

#control label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: silver;
  width: 450px;
  padding: 15px;
}

#control #labCameraRotationType {
  display: flex;
}

#control #labCameraRotationType label {
  display: flex;
  justify-content: space-around;
  width: 100px;
  padding: 0;
}

#blackDiv, #whiteDiv{
  width: 20px;
  height: 20px;
  border: 2px solid gray;
}

#blackDiv{
  background-color: black;
}

#whiteDiv{
  background-color: white;
}
