/* custom */

* {
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  background-color: silver;
}

html {
  min-width: 400px;
  min-height: 400px;
}

/* control */

#control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

audio{
  margin-top: 20px;
  width: 250px;
}

#control #ptitle {
  font-size: 110%;
  font-weight: bold;
  margin: 10px;
  color:#f58220;
  font-style: unset;
  font-variant-caps: small-caps;
}

#control select {
  margin: 20px;
}

#control label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: silver;
  width: 450px;
  padding: 15px;
}

#control #labCameraRotationType {
  display: flex;
}

#control #labCameraRotationType label {
  display: flex;
  justify-content: space-around;
  width: 100px;
  padding: 0;
}

#blackDiv, #whiteDiv{
  width: 20px;
  height: 20px;
  border: 2px solid gray;
}

#blackDiv{
  background-color: black;
}

#whiteDiv{
  background-color: white;
}

/* settingsDiv */

#settingsDiv{
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

#settingsDiv fieldset{
  flex-wrap: wrap;
  width: 150px;
  display: flex;
  align-items: center;
  padding: 5px;
  height: 140px;
}

#rotationDirectionFieldset label{
  padding: 0px;
  width: 100px;
}

#rotationDirectionFieldset{
  justify-content: center;
}

#settingsDiv #axisFieldset label{
  width: 26px;
  margin: 10px;
  padding: 0;
}

#settingsDiv #buttonRefreshDots {
  width: 140px;
}
