* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

#control {
  float: left;
  height: 100%;
  width: 27%;
  background-color: silver;
}

#root {
  float: left;
  height: 100%;
  width: 73%;
}