* {
  margin : 0;
  padding: 0;
  overflow:hidden;
}

html, body{
  height:800px;
  width:7040px;
}

body > div{
  position:absolute;
}

#control{
  left:0px;
  width:1920px;
  height:800px;
  background-color: silver;
}

#root{
  left:1920px;
  width:5120px;
  height:800px;
  background-color: green;
}
